<aside class="sidebar-left">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand" href="/"><span class="fa fa-area-chart"></span> Glance<span class="dashboard_text">Design dashboard</span></a></h1>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="sidebar-menu">

            <li class="header">DOANH THU</li>

            <li class="treeview">
              <a href="/">
              <i class="fa fa-dashboard"></i> <span>Báo cáo</span>
              </a>
            </li>

            <li class="header">TIỆN ÍCH</li>
            
            <li class="header">SẢN PHẨM</li>

            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Sản phẩm bảo hiểm</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/singup"><i class="fa fa-angle-right"></i>Dòng thương mại</a></li>
                <li><a href="/view"><i class="fa fa-angle-right"></i>Dòng con người</a></li>
              </ul>
            </li>

            <li class="header">TIN TỨC</li>

            <li class="header">TÀI KHOẢN</li>

            <li class="treeview">
              <a href="#">
              <i class="fa fa-laptop"></i>
              <span>Quản lý tài khoản</span>
              <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="/add_user"><i class="fa fa-angle-right"></i>Thêm tài khoản</a></li>
                <li><a href="/list_user"><i class="fa fa-angle-right"></i>Danh sách tài khoản</a></li>
              </ul>
            </li>
  
          </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
       </aside>